.categories-main-page {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.category {
  margin: 5px;
  word-wrap: break-word;
  width: 20vw;
}

.category a {
  text-decoration: none;
  color: black;
  font-size: 20px;
}

.categories-block {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.category img {
  width: 20vw;
}

.category h4 {
  font-size: 30px;
  color: white;
  padding-left: 10px;
  position: absolute;
  text-align: center;
}